{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block content %}
	<h1>Groups</h1>
	
	{% if user.is_authenticated %}
		<a href="/create-group/" id="button">Create group of users</a>
	{% endif %}

	<table>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Users</th>
			<th>Permissions</th>
			<th>Actions</th>
		</tr>
		{% for group in groups %}
			<tr>
				<td>{{ group.id }}</td>
				<td>{{ group.name }}</td>
				<td>
					{{ group.user_set.all | join:", " }}
				</td>
				<td>
					{{ group.permissions.all | join:", " }}
				</td>


				<td>
					<a href="/group/{{ group.id }}/edit">Edit</a> /
					<a href="/group/{{ group.id }}/delete">Delete</a>
				</td>
			</tr>
		{% endfor %}
	</table>

{% endblock %}