{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block content %}
    
    {% if user.is_authenticated %}

        <h1>You are already signed up</h1>

    {% else %}

        <h1>Sign Up</h1>

        {% if userForm.errors %}
            <p style="color: red;">
                Please correct the error{{ userForm.errors | pluralize }} below.
            </p>
        {% endif %}

        <form action="" method="POST" enctype="multipart/form-data">
            <table>
                {{ userForm.as_table }}
                <!--{{ profileForm.as_table }}-->
            </table>
            {% csrf_token %}
            <input type="submit" name="submit" value="Submit">
        </form>


        <!--<form action="" method="post">
            <table>
                {{ profileForm.as_table }}
            </table>
            {% csrf_token %}
            <input type="submit" value="Submit">
        </form>-->

    {% endif %}

    <a href="/" id="button">Go back</a>

{% endblock %}